/FileMatch/nbproject/private/
/FileMatch/build/
/FileMatchTest/nbproject/private/
/FileMatchTest/build/
/StudentPoll/nbproject/private/
/StudentPoll/build/
/ColorChooser/nbproject/private/
/ColorChooser/dist/
/ColorChooser/build/
/PrimeFactors/nbproject/private/
/PrimeFactors/build/
/TreeTest/nbproject/private/
/PriorityQueueTest/nbproject/private/
/PriorityQueueTest/build/
/ComboBox/nbproject/private/
/colorChooser/nbproject/private/
/ComboBox/build/
/ComboBox/dist/
/TreeTest/build/
/Invoice/nbproject/private/
/Invoice/build/
/RandomIntStream/nbproject/private/
/RandomIntStream/build/
/MethodisEqualToTest/nbproject/private/
/MethodisEqualToTest/build/
/Pair/nbproject/private/
/Pair/build/
/GenericMethodTest/nbproject/private/
/GenericMethodTest/build/
/GenericSelectionSort/nbproject/private/
/Tree/nbproject/private/
/Tree/build/
/queuelist/nbproject/private/
/List/nbproject/private/
/List/build/
/USP/nbproject/private/
/USP/build/
/FinalList/nbproject/private/